:root {
    --color-primary-black: #000;
    --color-primary-white: #fff;
}

:root {
    --color-starter-theme-body-copy: #333;
    --color-starter-theme-primary: #f3a154;
    --color-starter-theme-secondary: #c11fda;
    --color-starter-theme-light-black: #999;
}

:root {
    --font-size-body: 1.7rem;
    --font-size-body-medium-small: 1.5rem;
    --font-size-body-small: 1.3rem;
    --font-size-body-medium: 2rem;
    --font-size-body-large: 3rem;
    --font-size-body-extra-large: 3.5rem;
}

:root {
    --font-family-main: "Open Sans", sans-serif;
}

:root {
    --bu: 1rem;
    --margin-small: var(--bu);
    --margin-medium: calc(var(--margin-small) * 2);
    --margin-normal: calc(var(--margin-medium) * 2);
    --margin-large: calc(var(--margin-normal) * 2);
    --margin-extra-large: calc(var(--margin-large) * 2);
}

:root {
    --content-width-normal: 114rem;
    --content-width-narrow: 78rem;
}
