html {
    font-size: 62.5%;
}

body {
    color: var(--color-primary-black);
    font-family: var(--font-family-main);
    font-size: var(--font-size-body);
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

a img {
    border: none;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

h4 {

}

h5 {

}

h6 {

}

ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top: var(--margin-normal);
}

p {
    line-height: 1.6;
    margin: 0 0 var(--margin-medium) 0;
}

ul {
    margin-bottom: var(--margin-normal);
    list-style-type: disc;
    margin-left: 1.25rem;
}

ul li  {
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

ul ul {
    list-style-type: circle;
}

hr {
    margin: 2rem 0;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

a.skip-link {
   color: #fff;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

/** begin generic layout styles **/

main {
    background-color: var(--color-primary-white);
}

.region {
    margin: 0 auto;
    max-width: var(--content-width-normal);
}

/** end generic layout styles **/

/** begin WYSIWG editor styles **/

.wp-caption-text {
    font-style: italic;
    margin: 1rem 0;
    text-align: center;
}

.alignleft {
    float: left;
    margin: 0 2rem 2rem 0;
}

.alignright {
    float: right;
    margin: 0 0 2rem 2rem;
}

.alignnone {
    height: auto;
    max-width: 100%;
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 3rem auto 3rem auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/** end WYSIWG editor styles **/

/**** responsive embeded videos ****/

.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/**** end responsive embeded videos ****/

@media screen and (max-width: 900px) {

    img.alignnone,
    img.alignleft,
    img.alignright,
    img.aligncenter {
        height: auto;
        width: 100%;
    }

}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}
