html {
    font-size: 62.5%;
}

body {
    color: var(--color-primary-black);
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

a img {
    border: none;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

h4 {

}

h5 {

}

h6 {

}

p {
    line-height: 1.6;
    margin: 0 0 1rem 0;
}

ul {
    margin-bottom: 1.5rem;
    list-style-type: disc;
    margin-left: 1.25rem;
}

ul li  {
    line-height: 1.6;
    margin-bottom: 1rem;
}

ul ul {
    list-style-type: circle;
}

hr {
    margin: 2rem 0;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

a.skip-link {
   color: #fff;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

/** begin generic layout styles **/

main {
    background-color: #fff;
}

.region {
    margin: 0 auto;
    max-width: 960px;
}

/** end generic layout styles **/

/** begin WYSIWG editor styles **/

.alignleft {
    float: left;
    margin: 0 2rem 2rem 0;
}

.alignright {
    float: right;
    margin: 0 0 2rem 2rem;
}

.alignnone {
    height: auto;
    max-width: 100%;
}

/** end WYSIWG editor styles **/

@media (min-width: 2200px) {

}

@media (min-width: 1900px) and (max-width: 2199px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (max-width: 767px) {

}
