/*
This file should contain _as few CSS classes as possible_.
 */
html {
    font-size: 62.5%;
    font-family: var(--font-family-main);
}

body {
    color: var(--color-primary-black);
    font-size: var(--font-size-body);
    font-weight: 400;
    line-height: var(--line-height-body);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

p {
    line-height: 1.6;
    margin: 0 0 var(--margin-medium) 0;
}

:where(ul:not(.list-as-nav)) {
    margin-bottom: var(--margin-normal);
    list-style-type: disc;
    margin-left: 1.25rem;
}

ul li {
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

ul ul {
    list-style-type: circle;
}

hr {
    margin: 2rem 0;
}
