/*
This file should only contain styles directly related to global header tags, or things
that are intended to look like them in a global context. No component-specific styles
should be added here.

Only use header tags for items that should belong to the document outline. If you need
a heading for styling purposes, use a div with a class of .h1, .h2, etc.
*/
:where(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
    display: block;
}

:where(h1, .h1, h2, .h2, h3, .h3, h4, .h4) {
    text-wrap: balance;
    margin-block-end: 1rem;
    line-height: 1.2;
}

:where(h1,.h1) {
    font-size: 2rem;
    font-weight: 400;
}

:where(h2, .h2) {
    font-size: 2rem;
    font-weight: 400;
}

:where(h3, .h3) {
    font-size: 1.5rem;
    font-weight: 600;
}

:where(h4, .h4) {
}

:where(h5,.h5) {
}

:where(h6,.h6) {
}

ul + :where( h1,  h2,  h3,  h4,  h5,  h6),
p  + :where( h1,  h2,  h3,  h4,  h5,  h6),
ul + :where(.h1, .h2, .h3, .h4, .h5, .h6),
p  + :where(.h1, .h2, .h3, .h4, .h5, .h6) {
    margin-block-start: 0;
}
