.skip-link {
    color: var(--color-primary-white);
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

:is(.list-as-nav, .list-as-nav ul, .list-as-nav li) {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
