.wp-caption-text {
    font-style: italic;
    margin: 1rem 0;
    text-align: center;
}

.alignleft {
    float: left;
    margin: 0 2rem 2rem 0;
}

.alignright {
    float: right;
    margin: 0 0 2rem 2rem;
}

.alignnone {
    height: auto;
    max-width: 100%;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 3rem auto 3rem auto;
}

a img.alignright {
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    img.alignnone,
    img.alignleft,
    img.alignright,
    img.aligncenter {
        height: auto;
        width: 100%;
    }
}
