.site-header .main-nav {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    max-width: 80rem;
    margin-inline: auto;
}

.site-header .main-nav > li {
    text-align: center;
}

.site-header .main-nav ul {
    display: none;
}

.site-header .main-nav a {
    display: block;
    padding-block: 1rem;
    transition: all .3s;
    color: var(--color-starter-theme-primary);
    border: 0 solid transparent;
    border-bottom-width: 1px;
    border-radius: 100px;
}

.site-header .main-nav :where(a:hover, a:focus-visible) {
    text-decoration: none;
    color: var(--color-starter-theme-secondary);
    border-bottom-color: var(--color-starter-theme-secondary);
    scale: 1.1;
    box-shadow: 2rem 2rem 2rem 0 rgba(0, 0, 0, 0.2);
    outline: none;
}

.site-header:has(.main-nav a:hover) .main-nav a:not(:hover) {
    scale: 0.9;
    opacity: 0.8;
}
