#js-parallax-window {
	background-color: #fff;
	height: 470px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.home #js-parallax-window {
	height: 760px;
}

.parallax-hero {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 110%;
	left: 0;
	position: absolute;
	width: 100%;
}

.hero-headline-container {
	background-color: rgba(0,164,217,0.8);
    box-sizing: border-box;
	color: #fff;
    height: 100%;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
    width: 50%;
    z-index: 999;
}

.hero-headline-container .container {
    position: absolute;
    right: 5%;
    max-width: 425px;
    top: 50%;
    transform: translateY(-50%);
}

.hero-headline {
    font-size: 3.5rem;
    line-height: 1.2;
}

.hero-sub-head {
    font-size: 1.5rem;
    line-height: 1.2;
}

.hero-copy {
    margin-top: 1rem;
}

.hero-link {
    margin-top: 2rem;
}

.hero-link a {
    background-color: rgba(0,112,180,0.4);
    border: solid 2px #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 1rem 3rem;
    transition: background-color 0.5s ease-out 0s; 
}

.hero-link a:hover {
    background-color: rgba(0,112,180,1);
    text-decoration: none;
}

.hero-purple {
    background-color: rgba(36,15,110,0.8);
    box-sizing: border-box;
    height: 100%;
	right: 0;
	padding: 0;
	position: absolute;
	top: 0;
    width: 50%;
    z-index: 999;
}

@media (min-width: 2000px) {
	
	.home #js-parallax-window {
		height: 960px;
	}
	
}

@media (min-width: 768px) and (max-width: 1024px) { 
	
	
}

/* Smartphones - General */

@media (max-width: 767px) {
	
	
}
