.testimonial {
    background-attachment: fixed;
    position: relative;
}

.testimonial-container {
    background-color: rgba(0,164,217,0.8);
    box-sizing: border-box;
    color: #fff;
    display: table;
    height: 100%;
    left: 0;
    padding: 5rem 5% 5rem 0;
    position: relative;
    top: 0;
    width: 50%;
}

.testimonial-container .container {
    float: right;
    max-width: 425px;
}

.testimonial-copy {
    font-size: 2rem;
}

.testimonial-author {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
	
	
}

@media (max-width: 767px) {
	
    
	
}