.advanced-copy {
    padding: 5rem 5vw;
}

.advanced-copy-image {
    margin: 2rem 0 0 0;
}

.advanced-copy-image img {
    display: block;
    height: auto;
    width: 100%;
}

.advanced-copy-link {
    margin-top: 2rem;
    text-align: right;
}

.advanced-copy-link a {
    border: solid 1px rgb(36,15,110);
    border-radius: 0;
    background-color: #fff;
    color: rgb(36,15,110);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: 15px 3rem;
    transition: all 0.5s ease-out 0s;
}

.advanced-copy-link a:hover {
    background-color: rgb(36,15,110);
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
	
	
}

@media (max-width: 767px) {
	
    
	
}