.feature-dock {
    margin: 3rem 0;
}

.feature-dock-heading {
    background-color: rgb(242,242,242);
    font-size: 0;
    padding: 2rem 10vw;
}

.feature-dock-heading h2 {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: auto;
}

.feature-dock-heading .feature-dock-heading-description {
    border-left: solid 2px #c3c1c1;
    box-sizing: border-box;
    color: rgb(36,15,110);
    font-size: 1rem;
    display: inline-block;
    margin-left: 2rem;
    padding: 0.5rem 0 0.5rem 2rem;
    vertical-align: middle;
    width: 35%;
}

.dock-features {
    display: table;
    font-size: 0;
    width: 100%;
}

.dock-feature {
    box-sizing: border-box;
    color: #fff;
    display: table-cell;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    padding: 4rem 0;
    vertical-align: middle;
    width: 25%;
}

.dock-feature.column-1 {
    background-color: rgb(36,15,110);
}

.dock-feature.column-2 {
    background-color: rgb(212,198,158);
    color: rgb(67,67,69);
}

.dock-feature.column-3 {
    background-color: rgb(0,164,217);
}

.dock-feature.column-4 {
    background-color: rgb(67,67,69);
}

.feature-title {
    margin-left: 3rem;
}

.feature-icon {
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.feature-icon img {
    height: 100%;
    max-width: 70px;
    width: 100%;
}

.feature-hover {
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 100%;
    bottom: -100%;
    padding: 1.5rem;
    position: absolute;
    transition: all 0.2s linear 0s;
    vertical-align: middle;
    width: 100%;
}

.dock-feature.hover .feature-hover {
    bottom: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
	
	
}

@media (max-width: 767px) {
	
    
	
}