footer {
	background-color: rgb(36,15,110);
    color: rgb(0,164,217);
    padding: 5rem 0;
}

.footer-region {
    max-width: 650px;
}

footer ul {
    font-size: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.footer-top {
    margin-bottom: 2rem;
}

.footer-resources {
    margin-bottom: 2rem;
}

.footer-resources h6 {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

.footer-resources li {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.3;
    vertical-align: top;
    width: 50%;
}

.footer-resources li a {
    color: rgb(0,164,217);
}

.footer-nav ul {
    text-align: center;
}

.footer-nav ul li {
	box-sizing: border-box;
	display: inline-block;
	font-size: 0.8rem;
	line-height: 1;
	margin: 0 1.25rem 0 0;
    padding: 0;
    text-transform: uppercase;
}

.footer-nav ul li:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

.footer-nav ul li a {
	display: block;
}

.footer-bottom {
	font-size: 0;
}

.footer-logo {
	box-sizing: border-box;
	display: inline-block;
	padding-right: 1rem;
    text-align: right;
	vertical-align: top;
	width: 30%;
}

.footer-logo img {
	height: auto;
    max-height: 115px;
	width: 100%;
}

.footer-bottom-right {
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    width: 70%;
}

.footer-social {
    margin-bottom: 1rem;
}

.footer-social ul {
	margin: 0;
	padding: 0;
}

.footer-social ul li {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
	list-style-type: none;
    margin: 0 1rem 0 0;
    text-align: center;
    width: auto;
}

.footer-social ul li:last-child {
    margin-right: 0;
}

.footer-social ul li a {
    background-color: rgb(0,164,217);
    border-radius: 300px;
    display: table-cell;
    height: 58px;
    vertical-align: middle;
    width: 58px;
}

/* Tablets - General */

@media (min-width: 768px) and (max-width: 1024px) {
	
	.newsletter-signup-region {
    margin: 0 10vw 2rem 10vw;
	}
	
	.newsletter-form {
    width: 100%;
	}
	
	.footer-contact {
		width: 70%;
	}
	
	.footer-social {
		width: 30%;
	}
	
	.footer-disclaimer {
		display: block;
		margin-top: 2rem;
		width: 100%;
	}
}

/* Smartphones - General */

@media (max-width: 767px) {
	
	.newsletter-signup-region {
    margin: 0 5vw 2rem 5vw;
	}
	
	.newsletter-form {
    width: 100%;
	}
	
	.footer-top {
		margin-bottom: 0;
	}
	
	.footer-logo {
    display: block;
		padding-bottom: 1rem;
    padding-right: 0;
    width: 100%;
	}
	
	.footer-nav {
		border-bottom: solid 1px var(--main-gray-color);
    border-left: none;
    display: block;
    padding: 1rem 0;
    width: 100%;
	}
	
	.footer-nav ul li {
    border-right: none;
    display: block;
    margin: 0 0 1rem 0;
    padding-right: 0;
	}
	
	.footer-contact,
	.footer-social {
		border-bottom: solid 1px var(--main-gray-color);
    display: block;
		padding: 1rem 0;
    width: 100%;
	}
	
	.footer-disclaimer {
    display: block;
		padding: 1rem 0 0 0;
    width: 100%;
	}
	
	
}