.component-figure :where(figure) {
    margin: 0;
    padding: 0;
}

.component-figure :where(.component-wrapper) {
    color: var(--local-text-color, var(--color-primary-black));
}

.component-figure :where(.content-wrap a) {
    color: var(--local-link-color, LinkText);
}

.component-figure figure :is(img, picture) {
    max-height: var(--local-max-height, 100%);
    max-width: var(--local-max-width, 100%);
    object-fit: var(--local-object-fit);
}
