.content-components .newsletter-signup-form .call-to-action {
    --gf-local-bg-color: var(--local-background-color) !important;
}

/*
 * This needs increased specificity to override GF's, do NOT switch to :where()
*/
/* stylelint-disable selector-class-pattern */
.content-components .newsletter-signup-form .gform_fields {
    grid-template-columns: 1fr min-content;
}

.content-components .newsletter-signup-form .gform_fields > * {
    grid-column: unset;
}

/* stylelint-enable */
