.component-accordion :where(.accordion-controls) {
    gap: 1rem;
}

.component-accordion[data-expand-collapse-available] :where(.accordion-controls) {
    display: flex
}

.component-accordion :where(.accordion-controls button) {
    padding: 1rem 2rem;
}
