.component-testimonial {
    margin-block: 4rem;
}

.component-testimonial .copy > :first-child::before {
    content: open-quote;
    display: inline;
}

.component-testimonial .copy > :last-child::after {
    content: close-quote;
    display: inline;
}

.component-testimonial .copy,
.component-testimonial .copy * {
    font-size: 2rem;
}

.component-testimonial .attribution {
    font-style: italic;
}

.component-testimonial .attribution::before {
    content: "— ";
}
