:root {
    --color-primary-black: #000;
    --color-primary-white: #fff;
}

:root {
    --color-starter-theme-body-copy: #333;
    --color-starter-theme-primary: #1e2e82;
    --color-starter-theme-secondary: #9418a8;
    --color-starter-theme-light-black: #999;
    --expand-arrow-hover-color: #f0f0f0;
}

:root {
    --color-link-normal: var(--color-starter-theme-primary);
    --color-link-hover: var(--color-starter-theme-secondary);
    --color-link-visited: var(--color-starter-theme-primary);
}

:root {
    --color-alert-container-background: var(--color-primary-white);
    --color-alert-background-info: #00f3;
    --color-alert-background-warning: #ff03;
    --color-alert-background-critical: #f003;
    --color-alert-icon-info: #00f8;
    --color-alert-icon-warning: #ff08;
    --color-alert-icon-critical: #f008;
}

:root {
    --font-size-body: 1.7rem;
    --font-size-h1: 2.4rem;
    --font-size-h2: 2.2rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.8rem;
    --font-size-h5: 1.6rem;
    --font-size-h6: 1.6rem;
}

:root {
    --font-weight-body: 400;
    --font-weight-h1: 600;
    --font-weight-h2: 600;
    --font-weight-h3: 600;
    --font-weight-h4: 600;
    --font-weight-h5: 600;
    --font-weight-h6: 600;
}

:root {
    --line-height-body: 1.5;
    --line-height-h1: 1.2;
    --line-height-h2: 1.2;
    --line-height-h3: 1.2;
    --line-height-h4: 1.2;
    --line-height-h5: 1.2;
    --line-height-h6: 1.2;
}

:root {
    --font-family-main: "Open Sans", sans-serif;
}

:root {
    --bu: 1rem;
    --margin-small: var(--bu);
    --margin-medium: calc(var(--margin-small) * 2);
    --margin-normal: calc(var(--margin-medium) * 2);
    --margin-large: calc(var(--margin-normal) * 2);
    --margin-extra-large: calc(var(--margin-large) * 2);
}

:root {
    --content-width-normal: 114rem;
    --content-width-narrow: 78rem;
    --content-width-slim: 58rem;
}

@media screen and (width <= 1200px) {
    :root {
        --content-width-normal: 100%;
    }
}

@media screen and (width <= 800px) {
    :root {
        --content-width-narrow: 100%;
    }
}

:root {
    --size-xx-small: 0.50rem;
    --size-x-small: calc(var(--size-xx-small) * 2);
    --size-small: calc(var(--size-xx-small) * 4);
    --size-medium: calc(var(--size-xx-small) * 8);
    --size-large: calc(var(--size-xx-small) * 16);
    --size-x-large: calc(var(--size-xx-small) * 32);
    --size-xx-large: calc(var(--size-xx-small) * 64);
}

:root {
    --z-index-9999: 9999;
}
