/*
This file should contain _as few CSS classes as possible_.
*/
html {
    font-size: 62.5%;
    font-family: var(--font-family-main);
}

body {
    color: var(--color-primary-black);
    font-size: var(--font-size-body);
    font-weight: 400;
    line-height: var(--line-height-body);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

