.component-action-cards :where(.action-cards) {
    --action-card-background-color: var(--color-brand-grey-1);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    background-color: var(--action-card-background-color);
    max-width: fit-content;
    margin-inline: auto;
    border-radius: 5px;
}

.component-action-cards :where(.action-cards .action-card) {
    margin: 0;
    padding: 0;
}

:root :where(.component-action-cards.card-count-5 .action-cards) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

:root :where(.component-action-cards.card-count-4 .action-cards) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

:root :where(.component-action-cards.card-count-3 .action-cards) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

:root :where(.component-action-cards.card-count-2 .action-cards) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

:root :where(.component-action-cards.card-count-1 .action-cards) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.component-action-cards :where(.action-cards .action-card) {
    max-width: 40rem;
}

@media screen and (width < 64em) {
    .component-action-cards :where(.action-cards) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: var(--size-medium);
        column-gap: var(--size-small);
        background-color: var(--color-primary-white);
    }
}

@media screen and (width < 42em) {
    .component-action-cards :where(.action-cards) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
