:root :where(.site-footer) {
    background-color: var(--color-primary-black);
    color: var(--color-primary-white);
    padding: 5rem 0;
}

.site-footer :where(.footer-wrap) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 2rem;
}

.site-footer :where( .logo-and-address-and-social) {
    display: grid;
    grid-template-columns: 15rem auto;
    column-gap: 5rem;
}

.site-footer :where( .logo-and-address-and-social .footer-social) {
    grid-column: 2;
}

.site-footer :where(.footer-wrap .footer-copyright, .starter-theme-credits) {
    grid-column: 1 / -1;
    text-align: center;
}

.site-footer :where(.footer-wrap .starter-theme-credits) {
    font-size: 1.2rem;
}

.site-footer .logo img {
    height: 15rem;
}

.site-footer :where(.footer-nav > ul) {
    border-inline-start: 1px solid white;
    padding-inline-start: 2rem;
}

.site-footer :where(.footer-nav ul ul) {
    display: none;
}

.site-footer :where(.footer-nav a) {
    color: var(--color-primary-white);
}

.footer-social li {
    display: inline-block;
}

.footer-social svg {
    height: 2rem;
    aspect-ratio: 1;
    fill: var(--color-primary-white);
}
