.component-stepwise {
    --local-size: 4rem;
    --local-border-width: 0.25rem;

    .steps {
        line-height: 1.5;
        margin-bottom: 0;
        margin-top: 0;
        list-style-type: none;
        counter-reset: vendi-stepwise;
        padding: var(--local-size) 0 0 calc((var(--local-size) - var(--local-border-width)) / 2);
        position: relative;

        .step {
            border-left: 0.5rem solid #ff9988;
            padding-bottom: var(--local-size);
            padding-left: var(--local-size);

            &:last-child {
                border-left: 0.5rem solid transparent;
            }

            &::before {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: #fff;
                border: var(--local-border-width) solid #1b1b1b;
                box-shadow: 0 0 0 var(--local-border-width) #fff;
                color: #1b1b1b;
                content: counter(vendi-stepwise, decimal);
                counter-increment: vendi-stepwise;
                display: flex;
                font-weight: 700;
                height: var(--local-size);
                left: 0;
                line-height: .9;
                margin-top: -0.4rem;
                position: absolute;
                aspect-ratio: 1 / 1;
            }

            .heading {
                line-height: 1.1;
                color: #1b1b1b;
                font-weight: 700;
                margin: 0;
                padding-block-start: 0.25rem;
            }
        }
    }
}
