.component-accordion :where(.component-wrapper) {
    --accordion-icon-width: 1.8rem;
    --local-primary-color: var(--local-text-color, var(--color-primary-black));
}

/* All accordion items should have a bottom border except he last one */
.component-accordion :where(.single-accordion-item:not(:last-of-type)) {
    border-bottom: 1px solid var(--local-primary-color);
}

.component-accordion :where(.accordion-items) {
    display: grid;
    column-gap: 10rem;
    margin-top: var(--size-small);
}

/* More than 2 columns is not supported, but the door was left open */
.component-accordion :where(.accordion-items[data-columns-count="1"]) {
    grid-template-columns: 1fr;
}

.component-accordion :where(.accordion-items[data-columns-count="2"]) {
    grid-template-columns: 1fr 1px 1fr;
}

.component-accordion :where(.accordion-items .line) {
    background: var(--local-primary-color);
    height: 100%;
}

@media screen and (width <= 1000px) {
    .component-accordion :where(.accordion-items) {
        column-gap: 5rem;
    }
}

@media screen and (width <= 700px) {
    .component-accordion :where(.accordion-items[data-columns-count="2"]) {
        grid-template-columns: 1fr;
    }

    .component-accordion :where(.accordion-column:first-of-type .single-accordion-item:last-of-type) {
        border-bottom: 1px solid var(--local-primary-color);
    }

    .component-accordion :where(.accordion-items .line) {
        display: none;
    }
}
